﻿/* Topo */
.tarefa-master header.topo {
	background: #DEDFE7;
	height: 65px;
	padding: 10px;
}

.tarefa-master header.topo .logo,
.tarefa-master header.topo .titulo,
.tarefa-master header.topo .busca {
	float: left;
	width: 33.3%;
}

.tarefa-master header.topo .titulo {
	text-align: center;
	font-size: 20px;
}

.tarefa-master header.topo .titulo a {
	text-decoration: none;
	color: #636563;
	
}

.tarefa-master header.topo .busca {
	text-align: right;
}

/* Corpo */
.tarefa-master main.corpo {
	padding: 10px;
}

.tarefa-master main.corpo .breadcrumb {
	padding-bottom: 20px;
}

.tarefa-master main.corpo table[id*=TarefaLista] {
	width:100%;
}


/* Rodapé */
.tarefa-master footer.rodape {
text-align:center;
	background: #DEDFE7;
	padding: 10px;
}

#s4-bodyContainer {
	
	padding:0;
}