<?xml version="1.0" encoding="utf-8"?><!--SPG:

Este arquivo HTML foi associado a uma Página Mestra do SharePoint (arquivo .master) que possui o mesmo nome. Embora os arquivos permaneçam associados, você não poderá editar o arquivo .master, e todas as operações para renomear, mover ou excluir serão retribuídas.

Para criar a página mestra diretamente a partir desse arquivo HTML, basta editar a página como você faria normalmente. Use o Gerador de Trechos em http://treinamento/_layouts/15/ComponentHome.aspx?Url=http%3A%2F%2Ftreinamento%2F%5Fcatalogs%2Fmasterpage%2Ftarefa%2Dmaster%2Emaster para criar e personalizar entidades úteis do SharePoint e depois copie-os e cole-os como trechos de HTML no seu código HTML. Todas as atualizações neste arquivo serão sincronizadas automaticamente com a Página Mestra associada.

-->
<!DOCTYPE html[]>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        <!--CS: Trecho Conteúdo do Cabeçalho de Página Inicial-->
        <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
        <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
        <!--SID:00 -->
        <meta name="GENERATOR" content="Microsoft SharePoint" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="Expires" content="0" />
        <!--MS:<SharePoint:RobotsMetaTag runat="server">-->
        <!--ME:</SharePoint:RobotsMetaTag>-->
        <!--MS:<SharePoint:PageTitle runat="server">-->
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">-->
                <!--MS:<SharePoint:ProjectProperty Property="Title" runat="server">-->
                <!--ME:</SharePoint:ProjectProperty>-->
            <!--ME:</asp:ContentPlaceHolder>-->
        <!--ME:</SharePoint:PageTitle>-->
        <!--MS:<SharePoint:StartScript runat="server">-->
        <!--ME:</SharePoint:StartScript>-->
        <!--MS:<SharePoint:CssLink runat="server" Version="15">-->
        <!--ME:</SharePoint:CssLink>-->
        <!--MS:<SharePoint:CacheManifestLink runat="server">-->
        <!--ME:</SharePoint:CacheManifestLink>-->
        <!--MS:<SharePoint:PageRenderMode runat="server" RenderModeType="Standard">-->
        <!--ME:</SharePoint:PageRenderMode>-->
        <!--MS:<SharePoint:ScriptLink language="javascript" name="core.js" OnDemand="true" runat="server" Localizable="false">-->
        <!--ME:</SharePoint:ScriptLink>-->
        <!--MS:<SharePoint:ScriptLink language="javascript" name="menu.js" OnDemand="true" runat="server" Localizable="false">-->
        <!--ME:</SharePoint:ScriptLink>-->
        <!--MS:<SharePoint:ScriptLink language="javascript" name="callout.js" OnDemand="true" runat="server" Localizable="false">-->
        <!--ME:</SharePoint:ScriptLink>-->
        <!--MS:<SharePoint:ScriptLink language="javascript" name="sharing.js" OnDemand="true" runat="server" Localizable="false">-->
        <!--ME:</SharePoint:ScriptLink>-->
        <!--MS:<SharePoint:ScriptLink language="javascript" name="suitelinks.js" OnDemand="true" runat="server" Localizable="false">-->
        <!--ME:</SharePoint:ScriptLink>-->
        <!--MS:<SharePoint:CustomJSUrl runat="server">-->
        <!--ME:</SharePoint:CustomJSUrl>-->
        <!--MS:<SharePoint:SoapDiscoveryLink runat="server">-->
        <!--ME:</SharePoint:SoapDiscoveryLink>-->
        <!--MS:<SharePoint:AjaxDelta id="DeltaPlaceHolderAdditionalPageHead" Container="false" runat="server">-->
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">-->
            <!--ME:</asp:ContentPlaceHolder>-->
            <!--MS:<SharePoint:DelegateControl runat="server" ControlId="AdditionalPageHead" AllowMultipleControls="true">-->
            <!--ME:</SharePoint:DelegateControl>-->
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server">-->
            <!--ME:</asp:ContentPlaceHolder>-->
        <!--ME:</SharePoint:AjaxDelta>-->
        <!--MS:<SharePoint:CssRegistration Name="Themable/corev15.css" runat="server">-->
        <!--ME:</SharePoint:CssRegistration>-->
        <!--MS:<SharePoint:AjaxDelta id="DeltaSPWebPartManager" runat="server">-->
            <!--MS:<WebPartPages:SPWebPartManager runat="server">-->
            <!--ME:</WebPartPages:SPWebPartManager>-->
        <!--ME:</SharePoint:AjaxDelta>-->
        <!--CE: Trecho de Conteúdo do Cabeçalho de Página Final-->
        <!--DC:Tarefa Master-->
        <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:ContentTypeId msdt:dt="string">0x0101000F1C8B9E0EB4BE489F09807B2C53288F0054AD6EF48B9F7B45A142F8173F171BD10003D357F861E29844953D5CAA1D4D8A3A</mso:ContentTypeId>
<mso:HtmlDesignAssociated msdt:dt="string">1</mso:HtmlDesignAssociated>
<mso:HtmlDesignFromMaster msdt:dt="string"></mso:HtmlDesignFromMaster>
<mso:HtmlDesignConversionSucceeded msdt:dt="string">True</mso:HtmlDesignConversionSucceeded>
<mso:HtmlDesignStatusAndPreview msdt:dt="string">http://treinamento/_catalogs/masterpage/tarefa-master.html, Conversão bem-sucedida.</mso:HtmlDesignStatusAndPreview>
</mso:CustomDocumentProperties>
</xml><![endif]-->
		
		<link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!--CS: Trecho Faixa de Opções Inicial-->
        <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
        <!--SPM:<%@Register Tagprefix="wssucw" TagName="Welcome" Src="~/_controltemplates/15/Welcome.ascx"%>-->
        <!--MS:<SharePoint:SPSecurityTrimmedControl runat="server" HideFromSearchCrawler="true" EmitDiv="true">-->
            <div id="TurnOnAccessibility" style="display:none" class="s4-notdlg noindex">
                <a id="linkTurnOnAcc" href="#" class="ms-accessible ms-acc-button" onclick="SetIsAccessibilityFeatureEnabled(true);UpdateAccessibilityUI();document.getElementById('linkTurnOffAcc').focus();return false;">
                    <!--MS:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,master_turnonaccessibility%&#62;" EncodeMethod="HtmlEncode">-->
                    <!--ME:</SharePoint:EncodedLiteral>-->
                </a>
            </div>
            <div id="TurnOffAccessibility" style="display:none" class="s4-notdlg noindex">
                <a id="linkTurnOffAcc" href="#" class="ms-accessible ms-acc-button" onclick="SetIsAccessibilityFeatureEnabled(false);UpdateAccessibilityUI();document.getElementById('linkTurnOnAcc').focus();return false;">
                    <!--MS:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,master_turnoffaccessibility%&#62;" EncodeMethod="HtmlEncode">-->
                    <!--ME:</SharePoint:EncodedLiteral>-->
                </a>
            </div>
        <!--ME:</SharePoint:SPSecurityTrimmedControl>-->
        <div id="ms-designer-ribbon">
            <!--SID:02 {Faixa de Opções}-->
            <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar) --><div class="DefaultContentBlock" style="background:rgb(0, 114, 198); color:white; width:100%; padding:8px; height:64px; overflow:hidden;">A faixa de opções do SharePoint estará aqui quando o arquivo for visualizado ou aplicado ao seu site.</div><!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA -->
        </div>
        <!--MS:<SharePoint:SPSecurityTrimmedControl runat="server" AuthenticationRestrictions="AnonymousUsersOnly">-->
            <!--MS:<wssucw:Welcome runat="server" EnableViewState="false">-->
            <!--ME:</wssucw:Welcome>-->
        <!--ME:</SharePoint:SPSecurityTrimmedControl>-->
        <!--CE: Trecho de Faixa de Opções Final-->
        <div id="s4-workspace">
            <div id="s4-bodyContainer">
                <div class="tarefa-master">
                    <header class="topo">
                        <div class="logo">
                            <div data-name="SiteLogo">
                                <!--CS: Trecho Logotipo do Site Inicial-->
                                <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <!--MS:<SharePoint:AjaxDelta BlockElement="true" runat="server">-->
                                    <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar)--><!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA-->
                                    <!--MS:<SharePoint:SPSimpleSiteLink CssClass="ms-siteicon-a" runat="server" ID="xd1c7ff6bc8e44a91a86c5fd511e87e62">-->
                                        <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar)--><!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA-->
                                        <!--MS:<SharePoint:SiteLogoImage CssClass="ms-siteicon-img" name="onetidHeadbnnr0" ID="xead8b5abb3be4fed952318bdd995a421" LogoImageUrl="/_layouts/15/images/siteIcon.png" runat="server">-->
                                            <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar)--><img id="ctl00_xead8b5abb3be4fed952318bdd995a421" class="ms-siteicon-img" name="onetidHeadbnnr0" Src="http://treinamento/_layouts/15/images/siteIcon.png?rev=23" alt="Treinamento" /><!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA-->
                                        <!--ME:</SharePoint:SiteLogoImage>-->
                                        <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar)--><!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA-->
                                    <!--ME:</SharePoint:SPSimpleSiteLink>-->
                                    <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar)--><!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA-->
                                <!--ME:</SharePoint:AjaxDelta>-->
                                <!--CE: Trecho de Logotipo do Site Final-->
                            </div>
                        </div>
                        <div class="titulo">
                            <div data-name="SiteTitle">
                                <!--CS: Trecho Título do Site Inicial-->
                                <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <!--MS:<SharePoint:AjaxDelta runat="server">-->
                                    <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar)--><!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA-->
                                    <!--MS:<SharePoint:SPLinkButton runat="server" NavigateUrl="~site/">-->
                                        <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar)--><!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA-->
                                        <!--MS:<SharePoint:ProjectProperty Property="Title" runat="server">-->
                                            <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar)-->Treinamento<!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA-->
                                        <!--ME:</SharePoint:ProjectProperty>-->
                                        <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar)--><!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA-->
                                    <!--ME:</SharePoint:SPLinkButton>-->
                                    <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar)--><!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA-->
                                <!--ME:</SharePoint:AjaxDelta>-->
                                <!--CE: Trecho de Título do Site Final-->
                            </div>
                        </div>
                        <div class="busca">
                            <div data-name="SearchBox">
                                <!--CS: Trecho Caixa Pesquisar Inicial-->
                                <!--SPM:<%@Register Tagprefix="SearchWC" Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <!--MS:<SearchWC:SearchBoxScriptWebPart UseSiteCollectionSettings="true" EmitStyleReference="false" ShowQuerySuggestions="false" ChromeType="None" UseSharedSettings="true" TryInplaceQuery="false" ServerInitialRender="true" runat="server">-->
                                    <!--PS: Início da VISUALIZAÇÃO SOMENTE LEITURA (não modificar)--><div class="ms-webpart-chrome ms-webpart-chrome-fullWidth "><div WebPartID="00000000-0000-0000-0000-000000000000" HasPers="true" id="WebPart" width="100%" class="ms-WPBody noindex " OnlyForMePart="true" allowDelete="false" style=""><div componentid="ctl00_ctl03_csr" id="ctl00_ctl03_csr"><div id="SearchBox" name="Control"><div class="ms-srch-sb ms-srch-sb-border" id="ctl00_ctl03_csr_sboxdiv"><input type="text" value="Pesquisar..." maxlength="2048" accessKey="S" title="Pesquisar..." id="ctl00_ctl03_csr_sbox" autocomplete="off" autocorrect="off" onkeypress="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {if (Srch.U.isEnterKey(String.fromCharCode(event.keyCode))) {$find('ctl00_ctl03_csr').search($get('ctl00_ctl03_csr_sbox').value);return Srch.U.cancelEvent(event);}})" onkeydown="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {var ctl = $find('ctl00_ctl03_csr');ctl.activateDefaultQuerySuggestionBehavior();})" onfocus="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {var ctl = $find('ctl00_ctl03_csr');ctl.hidePrompt();ctl.setBorder(true);})" onblur="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {var ctl = $find('ctl00_ctl03_csr'); if (ctl){ ctl.showPrompt(); ctl.setBorder(false);}})" class="ms-textSmall ms-srch-sb-prompt ms-helperText" /><a title="Pesquisar" class="ms-srch-sb-searchLink" id="ctl00_ctl03_csr_SearchLink" onclick="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {$find('ctl00_ctl03_csr').search($get('ctl00_ctl03_csr_sbox').value);})" href="javascript: {}"><img src="http://treinamento/_layouts/15/images/searchresultui.png?rev=23" class="ms-srch-sb-searchImg" id="searchImg" alt="Pesquisar" /></a></div></div></div><noscript><div id="ctl00_ctl03_noscript">Parece que seu navegador não possui JavaScript habilitado. Ative o JavaScript e tente novamente.</div></noscript><div id="ctl00_ctl03"></div><div class="ms-clear"></div></div></div><!--PE: Fim da VISUALIZAÇÃO SOMENTE LEITURA-->
                                <!--ME:</SearchWC:SearchBoxScriptWebPart>-->
                                <!--CE: Trecho de Caixa Pesquisar Final-->
                            </div>
                        </div>
                    </header>
                    <main class="corpo">
                        <h1 class="titulo">
                            <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderPageTitleInTitleArea" runat="server">-->
                            <!--SPM:</asp:ContentPlaceHolder>-->
                        </h1>
                        <div class="breadcrumb">
                            <!--MS:<asp:SiteMapPath runat="server" 
                        		SiteMapProviders="SPSiteMapProvider,SPXmlContentMapProvider" 
                        		RenderCurrentNodeAsLink="false" 
                        		NodeStyle-CssClass="breadcrumbNode" 
                        		CurrentNodeStyle-CssClass="breadcrumbCurrentNode"
                        		RootNodeStyle-CssClass="breadcrumbRootNode" 
                        		HideInteriorRootNodes="true" 
                        		SkipLinkText=""
/>-->
                            </div>
                            <div class="conteudo">
                                <div data-name="ContentPlaceHolderMain">
                                    <!--CS: Trecho PlaceHolderMain Inicial-->
                                    <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <!--MS:<SharePoint:AjaxDelta ID="DeltaPlaceHolderMain" IsMainContent="true" runat="server">-->
                                        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">-->
                                            <div class="DefaultContentBlock" style="border:medium black solid; background:yellow; color:black; margin:20px; padding:10px;">
			            Este div, que você deve excluir, representa a área de conteúdo que será preenchida pelos seus Layouts de Página e páginas. Projete sua Página Mestra em torno desse espaço reservado para conteúdo.
			        
			                            
                                            </div>
                                        <!--ME:</asp:ContentPlaceHolder>-->
                                    <!--ME:</SharePoint:AjaxDelta>-->
                                    <!--CE: Trecho de PlaceHolderMain Final-->
                                </div>
                            </div>
                        </main>
                        <footer class="rodape">
                            <p>ivoryit.com.br
                        
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </body>
    </html>
