<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/js/TarefaREST.js"></script>

<div>
    <label for="tarefa-titulo">Tarefa:</label>
    <input type="text" id="tarefa-titulo">
</div>

<div>
    <button type="button" id="tarefa-salvar">Salvar</button>
</div>

<br>

<table border="1">
    <thead>
        <tr>
            <th>Tarefa</th>
            <th>Status</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody id="tarefa-lista">
    </tbody>
</table>