﻿@model Ivoryit.Tarefas.Models.TarefaModel
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm("Cadastrar"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Titulo, "Tarefa")
        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(model => model.Titulo)
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
}