﻿@model Ivoryit.Tarefas.Models.TarefaForumModel
@{
    ViewBag.Title = "Fórum";
}

<h2>Mensagens</h2>
@if (ViewBag.Mensagens.Count > 0)
{
    foreach (var mensagem in ViewBag.Mensagens)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@mensagem.Nome</h3>
            </div>
            <div class="panel-body">
                @mensagem.Mensagem
            </div>
        </div>
    }
}

<h2>Nova Mensagem</h2>
@using (Html.BeginForm("Forum"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Nome, "Nome")
        @Html.TextBoxFor(model => model.Nome, new { @Value = HttpContext.Current.User.Identity.Name, @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mensagem, "Mensagem")
        @Html.TextAreaFor(model => model.Mensagem, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Mensagem)
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
}
