﻿@model List<Ivoryit.Tarefas.Models.TarefaModel>
@{
    ViewBag.Title = "Tarefas";
}

<h2>Tarefas</h2>
<p>
    @Html.ActionLink("Cadastrar", "Cadastrar", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Tarefa</th>
            <th>Status</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var tarefa in Model)
            {
                <tr>
                    <td>@tarefa.Titulo</td>
                    <td>@tarefa.Status</td>
                    <td>
                        @Html.ActionLink("Finalizar", "Finalizar", new { id = tarefa.Id }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Excluir", "Excluir", new { id = tarefa.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Nenhuma tarefa cadastrada.</td>
            </tr>
        }
    </tbody>
</table>