﻿@model List<Ivoryit.Tarefas.Models.TarefaAbertaModel>
@{
    ViewBag.Title = "Relatório Tarefas Abertas";
}

<h2>Relatório Tarefas Abertas</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Tarefa</th>
            <th>Status</th>
            <th>Responsável</th>
            <th>Responsável E-mail</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var tarefa in Model)
            {
                <tr>
                    <td>@tarefa.Titulo</td>
                    <td>@tarefa.Status</td>
                    <td>@tarefa.Responsavel</td>
                    <td>@tarefa.ResponsavelEmail</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Nenhuma tarefa cadastrada.</td>
            </tr>
        }
    </tbody>
</table>    