﻿@model List<Ivoryit.Tarefas.Models.BuscaModel>
@{
    ViewBag.Title = "Busca";
}

<h2>Busca</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Caminho</th>
            <th>Criado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var pesquisa in Model)
            {
                <tr>
                    <td>@pesquisa.Titulo</td>
                    <td>@pesquisa.Caminho</td>
                    <td>@pesquisa.Criado</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Nenhuma resultado encontrado para a pesquisa realizada.</td>
            </tr>
        }
    </tbody>
</table>

@if (Model != null && Model.Count > 0)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
        @for(var i = 1; i <= ViewBag.TotalDePaginas; i++)
        { 
            <li>
                <a href="?pesquisa=@Request.QueryString["pesquisa"]&pagina=@i.ToString()">
                    @i.ToString()
                </a>
            </li>
        }
        </ul>
    </nav>
}